@charset "utf-8";
/* 서브페이지용 CSS -  sub.css*/

/* 공통외부 CSS 합치기 */
@import url(./common.css);

.wrap_01 {
    background: linear-gradient(#d9afd9, #97d9e1);
}
.wrap_02 {
    background: linear-gradient(#98e4ff, #bdffe1);
}
.wrap_03 {
    background: linear-gradient(#faaca8, #ddd6f3);
}
.wrap_04 {
    background: linear-gradient(#74ebd5, #9face6);
}
.wrap_05 {
    background: linear-gradient(#faaca8, #eeecf7);
}
.wrap_03 .bx,
.wrap_05 .bx {
    box-shadow: 0 2px 15px 0 rgba(135, 31, 88, 0.37);
}
.wrap .stit {
    position: relative;
    z-index: 1;
    margin-left: -1px;
    margin-top: -1px;
    padding: 50px 0;
    width: calc(100% + 2px);

    /* background: 색이반고윙/크 
        배경색 이미지 반복 고정 위치 / 크기
    */
    background-image: url(../images/afig1.jpg);
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
    box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.67);
}
.wrap .stit::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.17;
}
.wrap_02 .stit {
    background-image: url(../images/afig2.jpg);
}
.wrap_03 .stit {
    background-image: url(../images/afig3.jpg);
}
.wrap_04 .stit {
    background-image: url(../images/afig4.jpg);
}
.wrap_05 .stit {
    background-image: url(../images/afig5.jpg);
}

/* 서브 타이틀 */
.stit {
    font-size: 3.5rem;
    text-align: center;
}
.atit {
    font-size: 3rem;
}

/* 서브 공통 */
p {
    margin: 15px 0;
}
.prlogo {
    margin-top: 20px;
}
.afig {
    margin: 20px 0;
    text-align: center;
}
.afig figcaption {
    margin-top: 5px;
    color: #767678;
    font-size: 1.5rem;
}
.prlogo img {
    height: 32px;
}
.acont {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
}
.afig + .acont {
    margin-top: 45px;
}
.aric {
    margin-top: 10px;
    text-align: right;
}
.aric a {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(63, 99, 191,1);
    box-shadow: 2px 2px 2px 2px rgba(63, 99, 191,0.21);
    color: #3f63bf;
    font-size: 1.5rem;
    transition:all .3s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}
.aric a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    background-color: #3f63bf;
    transform: translateX(0);
    transition:all .3s cubic-bezier(.71,.02,.51,1.03);
}
.aric a:focus,
.aric a:hover {
    color: #fff;
}
.aric a:focus::before,
.aric a:hover::before {
    width: 100%;
}
.box {
    margin: 15px 0 10px;
    padding-left: 10px;
    border-left: 2px solid #000;
    line-height: 1.5;
}
.box + .afig {
    margin-top: 30px;
}
.box h4 {
    font-weight: normal;
    font-size: 1.7rem;
    font-weight: 500;
}
.rpt a {
    color: #3f63bf;
    text-decoration: underline;
}
.desc h5 {
    margin-top: 10px;
    font-size: 1.5rem;
}
.subsc {
    margin-top: 5px;
    font-size: 1.4rem;
}
.video_bx {
    height: 450px;
    margin: 20px 0;
    /* 
        div 와 같은 block 요소는
        width 설정을 하지 않으면 width:auto 로 자동설정됨.
        이를 싸고 있는 박스 컨텐츠 영역을 자동으로 채워준다.
    */
}
.video_bx iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* medium size */
@media (max-width: 768px) {
    .atit {
        font-size: 2.5rem;
    }
}
