@charset "utf-8";
/* 서브페이지용 CSS -  sub.css*/

/* 공통외부 CSS 합치기 */
@import url(./common.css);

.wrap_01 {
    background: linear-gradient(#d9afd9, #97d9e1);
}
.wrap_02 {
    background: linear-gradient(#98e4ff, #bdffe1);
}
.wrap_03 {
    background: linear-gradient(#faaca8, #ddd6f3);
}
.wrap_04 {
    background: linear-gradient(#74ebd5, #9face6);
}
.wrap_05 {
    background: linear-gradient(#faaca8, #eeecf7);
}
.wrap_03 .bx,
.wrap_05 .bx {
    box-shadow: 0 2px 15px 0 rgba(135, 31, 88, 0.37);
}
.wrap .stit {
    position: relative;
    z-index: 1;
    margin-left: -1px;
    margin-top: -1px;
    padding: 50px 0;
    width: calc(100% + 2px);

    /* background: 색이반고윙/크 
        배경색 이미지 반복 고정 위치 / 크기
    */
    background-image: url(../images/afig1.jpg);
    background-repeat: no-repeat;
    background-position: 100% 45%;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
    box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.67);
}
.wrap .stit::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #000;
    opacity: 0.17;
}
.wrap_02 .stit {
    background-image: url(../images/afig2.jpg);
}
.wrap_03 .stit {
    background-image: url(../images/afig3.jpg);
}
.wrap_04 .stit {
    background-image: url(../images/afig4.jpg);
}
.wrap_05 .stit {
    background-image: url(../images/afig5.jpg);
}

/* 서브 타이틀 */
.stit {
    font-size: 3.5rem;
    text-align: center;
}
.atit {
    font-size: 3rem;
}

/* 서브 공통 */
p {
    margin: 15px 0;
}
.prlogo {
    margin-top: 20px;
}
.afig {
    margin: 20px 0;
    text-align: center;
}
.afig figcaption {
    margin-top: 5px;
    color: #767678;
    font-size: 1.5rem;
}
.prlogo img {
    height: 32px;
}
.acont {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: justify;
}
.acont mark {
    display: block;
    margin: 15px auto;
    padding: 20px;
    width: 65%;
    background-color: #e4e4e4;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    color: orangered;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.afig + .acont {
    margin-top: 45px;
}
.aric {
    margin-top: 10px;
    text-align: right;
}
.aric a {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 5px;
    line-height: 2.5;
    border: 1px solid rgba(63, 99, 191,1);
    box-shadow: 2px 2px 2px 2px rgba(63, 99, 191,0.21);
    color: #3f63bf;
    font-size: 1.5rem;
    transition:all .3s cubic-bezier(0.075, 0.82, 0.165, 0.6);
}
.aric a::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    background-color: #3f63bf;
    transform: translateX(0);
    transition:all .3s cubic-bezier(.71,.02,.51,1.03);
}
.aric a:focus,
.aric a:hover {
    color: #fff;
}
.aric a:focus::before,
.aric a:hover::before {
    width: 100%;
}
.box {
    margin: 15px 0 10px;
    padding-left: 10px;
    border-left: 2px solid #000;
    line-height: 1.5;
}
.box + .afig {
    margin-top: 30px;
}
.box h4 {
    font-weight: normal;
    font-size: 1.7rem;
    font-weight: 500;
}
.rpt a {
    color: #3f63bf;
    text-decoration: underline;
}

.desc h5 {

}

/* 강조em요소 디자인변경 */
.acont p em {
    /* 이탤릭해제 */
    font-style: normal;
    color: #000;
    text-shadow: 1px 1px 1px #ffbebe;
}

.video_bx {
    height: 450px;
    margin: 20px 0;
    /* 
        div 와 같은 block 요소는
        width 설정을 하지 않으면 width:auto 로 자동설정됨.
        이를 싸고 있는 박스 컨텐츠 영역을 자동으로 채워준다.
    */
}
.video_bx iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* article 제목공통 - .atbx */
.atbx {
    margin: 20px 0;
}
.atbx h5 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: inset 0 0 7px 2px rgba(0,0,0,0.25);
    font-size: 1.5rem;
}

/* blockquote */
.ct_bx {
    padding: 20px;
    margin: 20px 0;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}

.ct_bx img {
    float: right;
    margin-left: 20px;
    border-radius: 5px;
}
.ct_bx blockquote {
    line-height: 2;
    font-size: 1.5rem;
}

/* 주해 */
.desc {
    padding: 20px 0 0;
    border-top: 1px solid #ccc;
}
.subsc {
    margin-top: 5px;
    padding: 10px;
    font-size: 1.4rem;
}

/* 오늘의 작품 */
.work {

    /*
        배경옵션 추가
        background-clip : 배경이 적용되는 범위 설정
        1. border-box -> 보더까지 적용 (기본값)
        2. padding-box -> 패딩까지 적용
        3. content-box -> 내용 영역만 적용
    
     */
    background-clip: content-box;
    border: 50px dotted #3f63bf;
    padding: 50px;
    background: linear-gradient(45deg, #3f63bf 20%, #74ebd5 80%);
    text-align: center;
}
.work h3 {
    margin-bottom: 15px;
    font-family: "Luckiest Guy";
    font-size: 3.6rem;
}
.work img {
    border: 15px ridge goldenrod
}
.work figcaption {
    padding: 20px;
    font-size: 2rem;
    font-weight: 500;
}
/* 작품명 인용 */
.work figcaption cite {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}
/* medium size */
@media (max-width: 768px) {
    .atit {
        font-size: 2.5rem;
    }
}

/* 뉴스영역 */
.nbx {
    margin: 20px 0;
    padding: 20px 0;
}
.nbx + .nbx {
    border-top: 5px dotted #ccc;
}
.nbx h3 {
    margin-bottom: 10px;
    padding: 10px;
    background-image: linear-gradient(to right, lightblue 10%, transparent 100%);
    font-size: 2rem;
}
.nbx a {
    padding-bottom: 5px;   
    display: inline-block;
    font-size: 1.7rem;
    line-height: 2.7;
}

/* 한 줄 처리 */
.nbx li, .nbx dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 
        추가 여러줄일경우, 말줄임
        display: -webkit-box;
        -webkit-line-clamp: 라인수;
        -webkit-box-orient: vertical;
        height: 높이값 지정;
        >>> white-space: nowrap; 을 지정하면 안됨
        
    */
}
/* CSS 가상요소 : before, after 이미지 사용 가능 */
.cnews ul li::before {
    content: "🎈";
}
.cnews ul li::after {
    content: "🎁";
    /* content: url(../images/prlogo1.png); 
        이미지도 삽입 가능
    */
}
.snews dt {
    margin: 15px 0 5px;
    padding: 15px;
    display: inline-block;
    background-color: yellowgreen;
    outline: 4px dashed #74ebd5;
    border-radius: 50%;
    font-weight: 600;
    font-size: 2rem;
}
/* 분야별 뉴스 dt별 글자색, 배경색 변경하기 */
.snews dt:first-of-type {
    color: red;
    background-color: #ffc9c9;
}
.snews dt:nth-of-type(2) {
    color: green;
    background-color: #d0ffeb;
}
.snews dt:last-of-type {
    color: blue;
    background-color: #d0e4ff;
}
/* 
    [ 자식요소 선택 가상클래스 : 자식요소 종류가 같아야함! ]
        요소:first-child -> 첫번째 자식요소
        요소:nth-child(n) -> n번째 자식요소
        요소:last-child -> 마지막째 자식요소
    [ 여러종류가 섞여 있을 경우 형제 선택하기 ]
        요소:first-of-type -> 같은 요소 중 첫번째
        요소:nth-of-type(n) -> 같은 요소 중 n번째
        요소:last-of-type -> 같은 요소 중 마지막째 

        (단, n은 1부터)
*/

/* 사진뉴스박스 */
/* 타이틀 */
.pnews h3{
    /* 배경그라데이션 없앰 */
    background-image: none;
    /* 중앙정렬 */
    text-align: center;
}

/* 가상요소로 사진기 아이콘 넣기 */
.pnews h3::before{
    content: '📷';
    vertical-align: -1px;
    font-size: 31px;
    margin-right: 8px;
}
.pnews h3::after{
    content: '📺';
    vertical-align: -1px;
    font-size: 31px;
    margin-left: 8px;
}

/* 사진뉴스 테이블 */
.pnews table{
    /* 최대 가로크기지정 maw */
    max-width: 500px;

    /* 테이블은 기본적으로 내용만큼 가로크기를 가지며
    부모박스의 크기가 작아질 경우 그 크기에 맞춰진다! */

    /* 테이블 중앙 - 마영오! */
    margin: 0 auto;

    /* 테두리 */
    border: 2px solid #ccc;

    /* 테이블 기본 간격없앰 */
    border-collapse: collapse;
    /* 기본값은 seperate */

}

/* tr이나 td에 child 선택자 사용가능!
 왜? table tr td 정해짐! 같은종류만 옴 */

 /* 첫번째 td - 숫자부분 */
.pnews td:first-child{
    /* 가로크기 w */
    width: 50px;
    /* 세로크기 h */
    height: 84px;
    /* 텍스트 중앙 tac */
    text-align: center;
    /* 배경색 bgc */
    background-color: #ccc;
}

/* 두번째 td */
.pnews td:nth-child(2){
    /* 배경색 bgc */
    background-color: #e4e4e4;
    /* 패딩 양쪽 */
    padding: 0 20px;
}

/* 세번째 td */
.pnews td:last-child{
    background-color: #e4e4e4;
    /* 오른쪽 패딩 */
    padding-right: 7px;
}

/* 사진뉴스 이미지 */
.pnews img{
    height: 70px;
    /* 높이만 주면 가로크기는 자동! */
    /* 인라인요소가 세로정렬 vam */
    vertical-align: middle;
}

/* 기사타이틀 처리박스 */
.pnews td div{
    /* 말줄임 처리하기(2줄처리) */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    /* 줄간격변경 */
    line-height: 1.7;
}

/* 앞에 tr이 있는 tr만 하위 td에 디자인 */
.pnews tr+tr td{
    /* 사이구분선 보더탑 bdt */
    border-top: 2px solid #ccc;
}