@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 CDN */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Black+Ops+One&family=Chakra+Petch&family=Orbitron:wght@500&display=swap");

/* 
    font-family: 'Barlow', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Orbitron', sans-serif;
*/

/* 초기화 */
html {
    /* 상대단위 rem 계산 편의를 위해 */
    font-size: 62.5%;
    scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    /* 전체 배경이미지 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공사중표시 */
/* body * {
    outline: 2px dashed yellow;
} */
/* 공통 클래스 */

/* 메탈배경 클래스 */
.metal1 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
.metal2 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/****************** 1. 상단영역 ******************/
/* 1-1. 로고 */
.logo {
    z-index: 99;
    position: fixed;
    top: calc(50% - 20vw / 2);
    left: calc(50% - 20vw / 2);
    width: 20vw;
    height: 20vw;
    background: pink url(../images/robot_03.png) no-repeat center/68%;
    border-radius: 50%;
    border: 2px solid #000;
    /* line-height: 200px; */
    color: #00c1b4;
    font: 4vw/20vw "Orbitron";
    /* 글자그림자 */
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    /* 박스그림자 - 밝은 색을 사용하면 glow 효과(빛나는 효과)*/
    box-shadow: inset 0 0 20px 5px #000, 0 0 20px 5px aquamarine;
    /* 박스그림자에만 spread 설정 있음 x y blur spread color */

    /* 트랜스폼 크기조정 */
    transform: scale(2);
}
/* 1-2. 탑이동버튼 */
.btn-top{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px outset #fff;
    background-color: #ccc;
}
.btn-top:hover{
    background-color: #ff0;
    border-style: inset;
}
.btn-top:hover a{
    color: red;
}
.btn-top a{
    display: block;
    width: 100%;
    height: 100%;
    color: blue;
    font: 30px/90px  'Black Ops One';
    /* 줄간격 line-height 는 높이값 100px 에서 보더 10px 을 빼야함  */
}
/****************** 2. 메인영역 ******************/
.main-aria {
    padding-top: 860px;
    /* 자식요소인 .box-robot이 fixed포지션이 됨에 따라 상단부분이 없어졌으므로,
        패딩으로 로봇영역을 채워줘야함. 자식이 top값이 0을 하게되면, 
        부모요소인 main-aria 로봇영역을 미뤄줘야됨
    */
    /* overflow: hidden; */
    /* 첫번째 자식요소 블록박스에 마진탑을 준 경우
        그 마진값은 부모요소 밖으로 나감(기본설징)
        마진탑을 포함하려면 부모요소에 overflow:hidden을 셋팅해야함!
        +하단마진도 부모요소 바깥으로 나감!
    */
}
/* 2-1. 로봇박스 */
.box-robot {
    /* 패딩 : 위, 양쪽, 아래 */
    padding: 200px 0 530px;
    /* 마진탑 */
    /* margin-top: 30px; */

    /* 처음에 트랜스폼 변경설정 */
    transform: translate(28%, -9%) scale(0.2);
    position: fixed;
    /* 
        top값을 안주면 젠틀픽스드 이므로 패딩/static요소를 존중하므로,
        위치값을 줘서 화면을 기준으로 하게 한다!
    */
    top: 0;
    width: 100%;
}
/* 2-1-1. 머리 */
.head {
    position: relative;
    /* .body보다 위 */
    z-index: 1;
    /* 무대중앙 마영오! */
    margin: 0 auto;
    width: 190px;
    height: 230px;
    /* 메탈배경 */
    background: url(../images/metal01.jpg) no-repeat center/cover;
    border-radius: 100px 100px 80px 80px;
}
/* 가상요소 가발 */
.head::after {
    /* 부모는? .head */
    position: absolute;
    top: -43px;
    left: -34px;
    display: block;
    content: "";
    width: 256px;
    height: 271px;
    background: url(../images/hair4.png) no-repeat 0/100% 100%;
}
/* 오버시 가상요소 가발 변경하기 */
.head:hover::after {
    top: -33px;
    left: -52px;
    width: 300px;
    height: 308px;
    background-image: url(../images/hair2.png);
}
/* 머리/몸통 하위요소 공통 - 그룹선택자*/
.head > div,
.body > div {
    position: absolute;
    /* 모든 직계하위 요소는 앱솔루트 */
}
/* 각 몸에 글로우 효과 */
.ear,
.body > div,
.body > div > span {
    box-shadow: 0 0 10px 5px aqua;
}

/* 눈공통 */
.eye {
    top: 82px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* 이중선 보더 */
    border: 4px double #000;

    /* 배경공통 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* 왼눈 */
.eye1 {
    left: 30px;
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.eye2 {
    right: 30px;
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose {
    top: 132px;
    left: 77px;
    width: 35px;
    height: 50px;
    border-radius: 26px;
    background: #fff url(../images/nose.jpg) no-repeat -4px -4px/131%;
}
/* 입 */
.mouth {
    bottom: 12px;
    left: 55px;
    width: 80px;
    height: 34px;
    background: url(../images/mouth.png) no-repeat 0 /100% 100%;
}
/* 귀 */
.ear {
    /* 위치 */
    top: 80px;
    width: 50px;
    height: 80px;
    background: url(../images/metal02.jpg) no-repeat center/cover;
}
/* 왼귀 */
.ear1 {
    left: -50px;
    border-radius: 25px 0 0 25px;
}
/* 오른귀 */
.ear2 {
    right: -50px;
    border-radius: 0 25px 25px 0;
}

/* 2-1-2. 몸통 */
.body {
    position: relative;
    /* 부모자격임 - 하위직계자식 div는 앱솔루트 */
    margin: 0 auto;
    margin-top: 50px;
    width: 220px;
    height: 400px;
    background-size: 80%;
    /* 배경이미지 사이즈 조정하기 
        - 가로크기 80%, 세로크기 auto(생략가능)
    */
}
/* 몸통의 가상요소로 상체만들기 */
.body::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    left: -18px;
    width: 257px;
    height: 200px;
    background-image: linear-gradient(to top, #ff8300, #00c1b4);
    border-radius: 30px;
    clip-path: polygon(0% 0%, 100% 0%, 84% 100%, 15% 100%);
}
/* 몸통의 가상요소로 하체만들기 */
.body::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: -18px;
    width: 257px;
    height: 140px;
    background-image: linear-gradient(to top, #00c1b4, #ff8300);
    border-radius: 30px;
    clip-path: polygon(5% 20%, 16% 3%, 84% 3%, 93% 20%, 93% 70%, 70% 100%, 65% 100%, 35% 100%, 5% 68%);
}

/* 목 */
.neck {
    top: -70px;
    left: calc(50% - 50px / 2);
    /* 중앙보내기 원리 부모박스의 50%보내고
        자신 크기의 절반을 뺴면 됨
        자신크기는 left는 width, top은 height 이다
    */
    width: 50px;
    height: 80px;
    border-radius: 20px;
}
/* 팔 공통 */
.arm {
    width: 50px;
    height: 200px;
    border-radius: 20%;
    /* 팔 트랜스폼 회전축변경 */
    transform-origin: left top;
}
/* 가상요소로 팔관절만들기 */
.arm::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -15px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fff, #000);
    box-shadow: inset 0 0 5px #000;
}
.arm::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0px;
    width: 50px;
    height: 50px;
    border: 5px solid #000;
    border-radius: 50%;
    background-color: #d4d4d4;
    box-sizing: border-box;
}
/* 왼팔 */
.arm1 {
    left: -70px;
}
/* 오른팔 */
.arm2 {
    right: -70px;
}
/* 팔하단부분 공통 */
.arm span {
    /* 부모는? .arm */
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 20%;
}
/* 가상요소로 손만들기 */
.arm span::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: calc(50% - 60px / 2);
    width: 60px;
    height: 100px;
    background: url(../images/hand_left.png) no-repeat 0/100%;
}

/* 공통 left 조정 후 미세한 위치조정은 margin으로 하자! */
/* 왼손 가상요소 변경 */
.arm1 span::after {
    margin-left: 5px;
}
/* 오른손 가상요소 변경 */
.arm2 span::after {
    background-image: url(../images/hand_right.png);
    margin-left: -5px;
}
/* 다리 공통 */
.leg {
    top: 95%;
    /* 부모박스 높이값만큼 100%로 밀려서 나감 */
    width: 80px;
    height: 250px;
    border-radius: 20%;
    /* 애니를 위한 트랜스폼 기준축 변경 */
    transform-origin: top;
}
/* 가상요소로 무릎관절만들기 */
.leg::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -30px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #fff, #000);
    box-shadow: inset 0 0 5px #000;
}
.leg::after {
    content: "";
    position: absolute;
    bottom: calc(-80px / 2);
    left: 0px;
    width: 80px;
    height: 80px;
    border: 5px solid #000;
    border-radius: 15px;
    background-color: #d4d4d4;
    box-sizing: border-box;
}
/* 가상요소로 부츠만들기 */
.leg span::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -5%;
    width: 110%;
    height: 80%;
    border-top: 5px solid #000;
    background-image: linear-gradient(to right, #fff, #000);
    box-sizing: border-box;
    border-radius: 0 0 30% 30%;
}
/* 가상요소로 부츠만들기 */
.leg span::after {
    content: "";
    display: block;
    position: absolute;
    top: 110%;
    left: -20%;
    width: 140%;
    height: 60px;
    border-radius: 40px 40px 0 0;
    border: 2px solid #000;
    border-bottom: 10px solid #000;
    background-image: linear-gradient(to right, #fff, #000);
    box-sizing: border-box;
}
/* 왼다리 */
.leg1 {
    left: 10px;
}
/* 오른다리 */
.leg2 {
    right: 10px;
}
/* 다리하단부분 공통 */
.leg span {
    /* 부모는? .leg */
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 20%;
}
/* 어꺠공통 */
.shdr {
    top: -15px;
    width: 80px;
    height: 80px;
}
/* 왼어깨 */
.shdr1 {
    left: -85px;
    border-radius: 50% 0 0 50%;
    /* 
        [ 둥근 모서리 값 설정 ]
        1. 1개 - 네방향
        2. 2개 - 왼위 오른아래 / 오른위 왼아래
        3. 3개 - 왼위 / 오른위, 왼아래 / 오른아래
        4. 4개 - 왼위 / 오른위 / 오른아래 / 왼아래
    */
}
/* 오른어깨 */
.shdr2 {
    right: -85px;
    border-radius: 0 50% 50% 0;
}
/* TV */
.tv {
    z-index: 10;
    top: 8%;
    left: 50%;
    transform: translateX(-50%) scale(1);
    /* left 중앙이동 */
    width: 180px;
    height: 125px;
    border-radius: 5px;
    border: 2px solid #222;
    box-shadow: inset 0 0 10px #333;
    /* 배경이미지 */
    background: url(../images/tv.jpg) no-repeat 0/100%;

    /* 트랜지션: 속시이지 */
    /* transition: transform 1.2s ease-in-out; */
}
/* TV가 커지는 클래스 */
.tv.on {
    transform: translateX(-50%) scale(3);
}
/* 스크린 */
.screen {
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 9px;
    /* 부모는? .tv */
    width: 130px;
    height: 99px;
    border-radius: 14px;
    background-color: #222;
}
/* 아이프레임 */
#mv {
    position: absolute;
    top: 1px;
    left: -19px;
    width: 175px;
    height: 100px;
    /* 부모는? .screen */

    /* iframe 기본 보더 없앰 */
    border: none;
}
/* 동영상 선택 버튼 */
.box-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 90px;
}
.box-btn button {
    width: 100%;
}
/* 2-1-3.링크타이틀 : 말풍선모양 */
.link-title a {
    position: absolute;
    top: 0;
    right: -100px;
    color: orangered;
    background-color: #fff;
    font-size: 5vw;
    padding: 5vw 3vw;
    border-radius: 50%;
    border: 1vw dashed orangered;
    text-decoration: none;
    /* 처음에 안보임 */
    transform: scale(0);
    transform-origin: left bottom;
}
/* 가상요소로 삼각형 만들기 */
.link-title a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0vw;
    left: 4.7vw;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5.5vw solid red;
    border-left: 1.5vw solid transparent;
    border-right: 1.5vw solid transparent;
    transform: rotate(84.9deg) translate(-5.2vw, 7.9vw);
}
/* 마우스 오버시 배경색 변경 */
.link-title a {
    background-image: radial-gradient(#ffb7b7 20%, rgb(173, 233, 173) 80%);
}
/* 
    [ 2. 원형 그라데이션 ]

    - 기본형, 영역지정형은 박스모양을 따라감!

    1) 기본형: 중앙중심, 모양은 박스크기에 맞춤
    background-image: 
        radial-gradient(색1,색2,색3,...);
    - 시작색으로부터 중앙에서 시작됨

    2) 영역 지정형:
    background-image: 
        radial-gradient(색1 몇%,색2 몇%,색3 몇%,...);
    - 색 뒤에 한칸 띄고 %수치로 영역지정함

    3) 그라데이션 모양을 원형으로 사용할 경우:
    background-image: 
        radial-gradient(circle,색1,색2,색3,...);
    - circle 키워드를 첫번째에 사용함

    4) 영역옵션 지정형: 중심점 변경
    background-image: 
        radial-gradient(옵션 at 가로위치 세로위치,색1,색2,색3,...);
    - 옵션4가지 : closest-side / farthest-side
                closest-corner / farthest-corner
                ___________________________________
                - closest는 중심점으로 좀더 모아진것
                - farthest는 중심점에서 멀리 퍼진것
                - side와 corner는 경계선과 끝부분옵션임
    - 가로위치, 세로위치 (중심점) - 단위는 px / %
*/

/* 2-2. 로봇설명박스 */
.box-text {
    /* 로봇 보다 글이 위에 와야함으로 포지션을 줘야함 */
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 30px;
    margin-bottom: 200px;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    box-shadow: inset 0 0 20px rgb(0 67 255), inset 0 0 50px 10px rgb(93 218 255);
}
/* -2-2-1. 제목 */
.box-text h2 {
    position: sticky;
    top: 15px;
    color: lime;
    font: 3.5rem "Chakra Petch";
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px 3px #000;
    border-radius: 20px;
}
/* -2-2-2. 출처 */
.box-text small {
    display: block;
    color: yellow;
    text-align: center;
    font-family: "Chakra Petch";
    font-size: 1.5rem;
    line-height: 3;
}
/* -2-2-3. 내용단락 */
.desc {
    font-size: 1.6rem;
    font-family: "Barlow";
    line-height: 1.8;
    letter-spacing: 1px;
    word-spacing: 2px;
    /* 다중열개수 */
    column-count: 3;
    /* 다중열 구분선 : 두께 종류 색상 보더 셋팅과 유사 */
    column-rule: 5px dotted lime;
    /* 다중열 사이간격 */
    column-gap: 55px;
    text-align: justify;
    /* 단어 단위로 줄바꿈하므로 양쪽정렬시 영어는 단어깨기를 해줘야함!
        but, 2byte인 한글,일본어 등은 안깨도 됨.
    */
    word-break: break-all;
    text-indent: 20px;
    /* 
    [ 다단설정하기 ]
    - 다중열속성
    -> column-count : 다중열개수
    -> column-rule : 다중열 구분선
    -> column-gap : 다중열 사이간격
    */
}
/* 설명문단 첫글자 가상요소로 디자인변경하기 */
.desc::first-letter {
    color: #ff4800;
    font-size: 3rem;
    font-weight: bold;
}
/****************** 3. 하단영역 ******************/
/* 3-1. 회사정보 */
#bottom-aria {
    /* 순서상 위에 오도록!! */
    position: relative;
    /* 패딩 7vmin -> 가로 세로 중 작은 것 기준 10% */
    padding: 7vmin;
    color: #fff;
    font: 30px "Black Ops One";
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
/* 속박스 가상요소로 아이콘 모양 넣기 */
.bottom-aria::before {
    content: "";
    /* 디자인도 적용, 한줄에 오도록 */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: pink url(../images/robot_03.png) no-repeat;
    background-position: -7px 4px;
    background-size: 50px;
    vertical-align: middle;
}
